$main-color: #0aad0a;

:host
{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}


.main-section {
  padding-top: 80px;
}

.btn-up {
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 99;
  background-color: $main-color;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  border-radius: 10px;
  width: 40px;
  height: 40px;
  border: unset;
}
.display{
  display: none;
}
